a {
    text-decoration: none;
}

.css-1cozwib {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-color: red;
    }
.upload_outer > div {
    z-index: 8;
}

.uploded-pic {
    width: 100%;
    background: #fff;
}
.upload_outer{overflow:hidden;}

.upload_outer input.form-control-file {
    z-index: 8;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    position: absolute;
}

 
.upload_droaper 
 .uploded-pic {
    width: 150px;
    margin: 10px;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.upload_droaper input[type="file"] {
    z-index: 999;
}
 
.timeing-label-outer input {
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    padding: 3px 0;
    color: #736B82;
    font-size: 18px;
}

.only-minus:before {
    display: none;
}


.firstrow {
    position: relative;
}

.firstrow .plushbtn {
    position: absolute;
    top: 22px;
    right: 40px;
}

 