 
@font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_bold.woff2') format('woff2'),
          url('../fonts/mic_32_new_bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 
 } 

 @font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_medium.woff2') format('woff2'),
          url('../fonts/mic_32_new_medium.woff') format('woff');
     font-weight: 500;
     font-style: normal; 
 }   

 @font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_regular.woff2') format('woff2'),
          url('../fonts/mic_32_new_regular.woff') format('woff');
    font-weight: normal;
     font-style: normal; 
 } 

 @font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_light.woff2') format('woff2'),
          url('../fonts/mic_32_new_light.woff') format('woff');
     font-weight: 100;
     font-style: normal;
 
 }
  

 /* font */ 

 @font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_medium_italic.woff2') format('woff2'),
          url('../fonts/mic_32_new_medium_italic.woff') format('woff');
     font-weight: 400;
     font-style: italic; 
 }  

@font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_bold_italic.woff2') format('woff2'),
          url('../fonts/mic_32_new_bold_italic.woff') format('woff');
     font-weight: bold;
     font-style: italic;
 
 } 
  
 @font-face {
     font-family: 'mic32';
     src: url('../fonts/mic_32_new_italic.woff2') format('woff2'),
          url('../fonts/mic_32_new_italic.woff') format('woff');
     font-weight: normal;
     font-style: italic;
 
 } 

   /* sfu */
  